In [1]:
#!/usr/bin/env python
# coding: utf-8

# In[4]:


# Python program to print all heading tags
import requests
from bs4 import BeautifulSoup
 
# scraping a wikipedia article
url_link = 'https://www.wikipedia.org'
request = requests.get(url_link)
 
Soup = BeautifulSoup(request.text, 'lxml')
 
# creating a list of all common heading tags

heading_tags = ["h1","h2","h3","h4","h5","h6"]
for tags in Soup.find_all(heading_tags):
    print(tags.name + ' -> ' + tags.text.strip())

h1 -> Wikipedia

The Free Encyclopedia
h2 -> 1 000 000+


articles
h2 -> 100 000+


articles
h2 -> 10 000+


articles
h2 -> 1 000+


articles
h2 -> 100+


articles

In [2]:
from bs4 import BeautifulSoup
import requests

page=requests.get("https://www.imdb.com/search/title/?count=100&groups=top_100&sort=user_rating")
page

page.content

soup=BeautifulSoup(page.content,'html.parser')
soup

names=soup.find_all('h3',class_="lister-item-header")
names[0:10]

movies=[]  
for i in names:
    for j in i.find_all('a'):
        movies.append(j.text)
movies[0:10]            

rating=soup.find_all('strong')
rating[0:10]

ratings=[]   
for i in rating:
    ratings.append(i.get_text().replace('Detailed', " ").replace('User Rating', " "))
ratings[:10]    

year=soup.find_all('span',class_="lister-item-year text-muted unbold")
year[0:10]

release_year=[]  
for i in year:
    release_year.append(i.get_text().replace('(I) ', " "))
release_year[:10]


import pandas as pd
IMDB_100=pd.DataFrame({})
IMDB_100['Movie_name']=movies
IMDB_100['Rating']=ratings[2:]
IMDB_100['Year_of_Release']=release_year


IMDB_100

                                       Movie_name Rating Year_of_Release
0                        The Shawshank Redemption    9.3          (1994)
1                                   The Godfather    9.2          (1972)
2                                 The Dark Knight    9.0          (2008)
3   The Lord of the Rings: The Return of the King    9.0          (2003)
4                                Schindler's List    9.0          (1993)
..                                            ...    ...             ...
95                             North by Northwest    8.3          (1959)
96                                        Vertigo    8.3          (1958)
97                            Singin' in the Rain    8.3          (1952)
98                                   Citizen Kane    8.3          (1941)
99              M - Eine Stadt sucht einen Mörder    8.3          (1931)

[100 rows x 3 columns]

In [3]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

page=requests.get("https://www.imdb.com/india/top-rated-indian-movies/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=461131e5-5af0-4e50-bee2-223fad1e00ca&pf_rd_r=KW9XY49QFKX5SR23QR6F&pf_rd_s=center-1&pf_rd_t=60601&pf_rd_i=india.toprated&ref_=fea_india_ss_toprated_india_tr_india250_hd")
page

page.content

soup=BeautifulSoup(page.content,'html.parser')
soup

names=soup.find_all('td',class_='titleColumn')
names[0:10]

movies=[]
for i in names:
    for j in i.find_all('a'):   
        movies.append(j.text)
movies[0:10]  

ratings=soup.find_all('strong')
ratings[0:10]


rating=[] 
for i in ratings:
    rating.append(i.get_text())
rating[:10]    

year=soup.find_all('span',class_="secondaryInfo")
year[0:10]

release_year=[]  
for i in year:
    release_year.append(i.get_text())
release_year[:10]


IMDB_Indian100=pd.DataFrame({})
IMDB_Indian100['Movie_name']=movies[:100]
IMDB_Indian100['Rating']=rating[:100]
IMDB_Indian100['Year_of_Release']=release_year[:100]

IMDB_Indian100

                     Movie_name Rating Year_of_Release
0    Rocketry: The Nambi Effect    8.5          (2022)
1                    Anbe Sivam    8.4          (2003)
2                       Golmaal    8.4          (1979)
3                       Nayakan    8.4          (1987)
4                      Jai Bhim    8.4          (2021)
..                          ...    ...             ...
95                       Angoor    8.0          (1982)
96  Baahubali 2: The Conclusion    8.0          (2017)
97                    Virumandi    8.0          (2004)
98              Rang De Basanti    8.0          (2006)
99                       Baasha    8.0          (1995)

[100 rows x 3 columns]

In [4]:
from bs4 import BeautifulSoup
import requests
import pandas as pd


page=requests.get("https://presidentofindia.nic.in/former-presidents.htm")
page

page.content

soup = BeautifulSoup(page.content,"html.parser")

presidents = soup.find_all('div',class_="presidentListing")

names=[]
terms=[]
for president in presidents:
    name = president.select('h3')[0].text.strip()
    term = president.select('p')[0].text.strip()
    print(f'President name : {name}, {term}')

President name : Shri Ram Nath Kovind (birth - 1945), Term of Office: 25 July, 2017 to 25 July, 2022
President name : Shri Pranab Mukherjee (1935-2020), Term of Office: 25 July, 2012 to 25 July, 2017
President name : Smt Pratibha Devisingh Patil (birth - 1934), Term of Office: 25 July, 2007 to 25 July, 2012
President name : DR. A.P.J. Abdul Kalam (1931-2015), Term of Office: 25 July, 2002 to 25 July, 2007
President name : Shri K. R. Narayanan (1920 - 2005), Term of Office: 25 July, 1997 to 25 July, 2002
President name : Dr Shankar Dayal Sharma (1918-1999), Term of Office: 25 July, 1992 to 25 July, 1997
President name : Shri R Venkataraman (1910-2009), Term of Office: 25 July, 1987 to 25 July, 1992
President name : Giani Zail Singh (1916-1994), Term of Office: 25 July, 1982 to 25 July, 1987
President name : Shri Neelam Sanjiva Reddy (1913-1996), Term of Office: 25 July, 1977 to 25 July, 1982
President name : Dr. Fakhruddin Ali Ahmed (1905-1977), Term of Office: 24 August, 1974 to 11 February, 1977
President name : Shri Varahagiri Venkata Giri (1894-1980), Term of Office: 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974
President name : Dr. Zakir Husain (1897-1969), Term of Office: 13 May, 1967 to 3 May, 1969
President name : Dr. Sarvepalli Radhakrishnan (1888-1975), Term of Office: 13 May, 1962 to 13 May, 1967
President name : Dr. Rajendra Prasad (1884-1963), Term of Office: 26 January, 1950 to 13 May, 1962

In [5]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

page=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
page

page.content

soup=BeautifulSoup(page.content,'html.parser')
soup

team=soup.find_all('span',class_="u-hide-phablet")
team[:10]

teams=[] 
for i in team:
    teams.append(i.get_text())
teams[:10]

match=soup.find_all('td',class_="rankings-block__banner--matches")
match

Matches=[]  
for i in match:
    Matches.append(i.get_text().replace('\n',''))
Matches

match=soup.find_all('td',class_="table-body__cell u-center-text")
match[:9]

del match[1::2]   

for i in match:
    Matches.append(i.get_text().replace('\n',''))
Matches[:10]

points=soup.find_all('td',class_="rankings-block__banner--points")
points

Points=[]  
for i in points:
    Points.append(i.get_text().replace('\n',''))
Points

points=soup.find_all('td',class_="table-body__cell u-center-text")
points[:9]

del points[::2]  

for i in points:
    Points.append(i.get_text().replace('\n',''))
Points[:10]

rating=soup.find_all('td',class_="rankings-block__banner--rating u-text-right")
rating

Rating=[]  
for i in rating:
    Rating.append(i.get_text().replace('\n','').strip())
Rating

rating=soup.find_all('td',attrs={'class':'table-body__cell u-text-right rating'})
rating[:9]

for i in rating:
    Rating.append(i.get_text().replace('\n',''))
Rating=Rating[0:10]  
Rating


Team_Rankings=pd.DataFrame({})
Team_Rankings['Team']=teams[:10]
Team_Rankings['Matches']=Matches[:10]
Team_Rankings['Points']=Points[:10]
Team_Rankings['Rating']=Rating

Team_Rankings

           Team Matches Points Rating
0   New Zealand      19  2,355    124
1       England      27  3,226    119
2         India      31  3,447    111
3      Pakistan      22  2,354    107
4     Australia      25  2,548    102
5  South Africa      21  2,111    101
6    Bangladesh      30  2,753     92
7     Sri Lanka      29  2,658     92
8   West Indies      41  2,902     71
9   Afghanistan      18  1,238     69

In [6]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")
page

page.content

soup=BeautifulSoup(page.content,'html.parser')
soup

name=soup.find_all('div',class_="rankings-block__banner--name-large")
name

names=[]  #Empty list
for i in name:
    names.append(i.get_text())
names      

name=soup.find_all('td',class_="table-body__cell rankings-table__name name")
name[:9]

for i in name:
    names.append(i.get_text().replace('\n', ' '))
names[:10]    

team=soup.find_all('div',class_="rankings-block__banner--nationality")
team

teams=[] 
for i in team:
    teams.append(i.get_text().replace('\n', ''))
teams    

team=soup.find_all('span',class_="table-body__logo-text")
team[:9]

for i in team:
    teams.append(i.get_text())
teams[:10]    

rating=soup.find_all('div',class_="rankings-block__banner--rating")
rating

ratings=[]  #Empty list
for i in rating:
    ratings.append(i.get_text())
ratings    

rating=soup.find_all('td',class_="table-body__cell rating")
rating[:9]

for i in rating:
    ratings.append(i.get_text())
ratings[:10]    

career_best=soup.find_all('span',class_="rankings-block__career-best-text")
career_best

career_best_rating=[] 
for i in career_best:
    career_best_rating.append(i.get_text().replace('\n', ' ').replace('  ',''))
career_best_rating    

career_best=soup.find_all('td',class_="table-body__cell u-text-right u-hide-phablet")
career_best[:9]

for i in career_best:
    career_best_rating.append(i.get_text().replace('\n', ' ').replace('                        ',' '))
career_best_rating[:10]    

top10=pd.DataFrame({})
top10['Name']=names[:10]
top10['Team']=teams[:10]
top10['Rating']=ratings[:10]
top10['Career_best_rating']=career_best_rating[:10]

top10

,Name,Team,Rating,Career_best_rating
0,Babar Azam,PAK,890,"898 v West Indies, 10/06/2022"
1,Rassie van der Dussen,SA,789,"796 v England, 19/07/2022"
2,Quinton de Kock,SA,784,"813 v Sri Lanka, 10/03/2019"
3,Imam-ul-Haq,PAK,779,"815 v West Indies, 12/06/2022"
4,Virat Kohli,IND,744,"911 v England, 12/07/2018"
5,Rohit Sharma,IND,740,"885 v Sri Lanka, 06/07/2019"
6,David Warner,AUS,739,"880 v Pakistan, 26/01/2017"
7,Jonny Bairstow,ENG,732,"796 v India, 26/03/2021"
8,Ross Taylor,NZ,722,"841 v Bangladesh, 05/06/2019"
9,Aaron Finch,AUS,706,"798 v England, 25/06/2019"

In [7]:
from bs4 import BeautifulSoup
import requests
page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")
page

page.content

soup=BeautifulSoup(page.content,'html.parser')
soup

name=soup.find_all('div',class_="rankings-block__banner--name-large")
name


names=[] 
for i in name:
    names.append(i.get_text())
names   


name=soup.find_all('td',class_="table-body__cell rankings-table__name name")
name[:9]


for i in name:
    names.append(i.get_text().replace('\n', ' '))
names[:10]    


team=soup.find_all('div',class_="rankings-block__banner--nationality")
team


teams=[] 
for i in team:
    teams.append(i.get_text().replace('\n', ''))
teams    


team=soup.find_all('span',class_="table-body__logo-text")
team[:9]


for i in team:
    teams.append(i.get_text())
teams[:10]    


rating=soup.find_all('div',class_="rankings-block__banner--rating")
rating


ratings=[] 
for i in rating:
    ratings.append(i.get_text())
ratings  


rating=soup.find_all('td',class_="table-body__cell rating")
rating[:9]


for i in rating:
    ratings.append(i.get_text())
ratings[:10]   


career_best=soup.find_all('span',class_="rankings-block__career-best-text")
career_best

career_best_rating=[]  
for i in career_best:
    career_best_rating.append(i.get_text().replace('\n', ' ').replace('  ',''))
career_best_rating 


career_best=soup.find_all('td',class_="table-body__cell u-text-right u-hide-phablet")
career_best[:9]


for i in career_best:
    career_best_rating.append(i.get_text().replace('\n', ' ').replace('                        ',' '))
career_best_rating[:10]   


print(len(names),len(teams),len(ratings),len(career_best_rating))


import pandas as pd
top10=pd.DataFrame({})
top10['Name']=names[:10]
top10['Team']=teams[:10]
top10['Rating']=ratings[:10]
top10['Career_best_rating']=career_best_rating[:10]

top10

100 100 100 100

                  Name Team Rating                         Career_best_rating
0          Trent Boult   NZ    720             770 v West Indies, 22/06/2019
1      Josh Hazlewood   AUS    678                733 v England, 26/01/2018
2    Mujeeb Ur Rahman   AFG    676                712 v Ireland, 24/01/2021
3      Jasprit Bumrah   IND    662            841 v West Indies, 01/11/2018
4      Shaheen Afridi   PAK    661            688 v West Indies, 10/06/2022
5       Mohammad Nabi   AFG    657               657 v Zimbabwe, 09/06/2022
6        Mehedi Hasan   BAN    655              725 v Sri Lanka, 25/05/2021
7         Rashid Khan   AFG    651               806 v Pakistan, 21/09/2018
8          Matt Henry    NZ    644             691 v Bangladesh, 26/03/2021
9   Mustafizur Rahman   BAN    640            695 v West Indies, 14/12/2018

In [8]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

page=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
page

page.content

soup=BeautifulSoup(page.content,'html.parser')
soup

team=soup.find_all('span',class_="u-hide-phablet")
team[:10]

teams=[]
for i in team:
    teams.append(i.get_text())
teams[:10]


match=soup.find_all('td',class_="rankings-block__banner--matches")
match


Matches=[]  
for i in match:
    Matches.append(i.get_text().replace('\n',''))
Matches


match=soup.find_all('td',class_="table-body__cell u-center-text")
match[:9]

del match[1::2]


for i in match:
    Matches.append(i.get_text().replace('\n',''))
Matches[:10]

points=soup.find_all('td',class_="rankings-block__banner--points")
points


Points=[]  
for i in points:
    Points.append(i.get_text().replace('\n',''))
Points

points=soup.find_all('td',class_="table-body__cell u-center-text")
points[:10]

del points[::2]

for i in points:
    Points.append(i.get_text().replace('\n',''))
Points[:10]

rating=soup.find_all('td',class_="rankings-block__banner--rating u-text-right")
rating


Rating=[]  
for i in rating:
    Rating.append(i.get_text().replace('\n','').strip())
Rating

rating=soup.find_all('td',attrs={'class':'table-body__cell u-text-right rating'})
rating[:9]

for i in rating:
    Rating.append(i.get_text().replace('\n',''))
Rating

Team_Rankings=pd.DataFrame({})
Team_Rankings['Team']=teams[:10]
Team_Rankings['Matches']=Matches[:10]
Team_Rankings['Points']=Points[:10]
Team_Rankings['Rating']=Rating[:10]


Team_Rankings

           Team Matches Points Rating
0     Australia      29  4,837    167
1       England      33  4,046    123
2  South Africa      35  4,157    119
3         India      32  3,219    101
4   New Zealand      31  3,019     97
5   West Indies      30  2,768     92
6    Bangladesh      12    930     78
7      Pakistan      30  1,962     65
8       Ireland      11    516     47
9     Sri Lanka      11    495     45

In [9]:
from bs4 import BeautifulSoup
import requests
import pandas as pd


page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")
page


page.content


soup=BeautifulSoup(page.content,'html.parser')
soup


name=soup.find_all('div',class_="rankings-block__banner--name-large")
name


names=[] 
for i in name:
    names.append(i.get_text())
names      


name=soup.find_all('td',class_="table-body__cell rankings-table__name name")
name[:9]


for i in name:
    names.append(i.get_text().replace('\n', ' '))
names[:10]    


team=soup.find_all('div',class_="rankings-block__banner--nationality")
team


teams=[] 
for i in team:
    teams.append(i.get_text().replace('\n', ''))
teams    


team=soup.find_all('span',class_="table-body__logo-text")
team[:9]


for i in team:
    teams.append(i.get_text())
teams[:10]    


rating=soup.find_all('div',class_="rankings-block__banner--rating")
rating


ratings=[] 
for i in rating:
    ratings.append(i.get_text())
ratings   


rating=soup.find_all('td',class_="table-body__cell rating")
rating[:9]


for i in rating:
    ratings.append(i.get_text())
ratings[:10]  


career_best=soup.find_all('span',class_="rankings-block__career-best-text")
career_best


career_best_rating=[] 
for i in career_best:
    career_best_rating.append(i.get_text().replace('\n', ' ').replace('  ',''))
career_best_rating    


career_best=soup.find_all('td',class_="table-body__cell u-text-right u-hide-phablet")
career_best[:9]


for i in career_best:
    career_best_rating.append(i.get_text().replace('\n', ' ').replace('                        ',' '))
career_best_rating[:10]    


top10=pd.DataFrame({})
top10['Name']=names[:10]
top10['Team']=teams[:10]
top10['Rating']=ratings[:10]
top10['Career_best_rating']=career_best_rating[:10]


top10

,Name,Team,Rating,Career_best_rating
0,Alyssa Healy,AUS,785,"785 v England, 03/04/2022"
1,Beth Mooney,AUS,749,"748 v England, 03/04/2022"
2,Natalie Sciver,ENG,747,"755 v South Africa, 15/07/2022"
3,Laura Wolvaardt,SA,732,"741 v Australia, 22/03/2022"
4,Meg Lanning,AUS,710,"834 v New Zealand, 24/02/2016"
5,Rachael Haynes,AUS,701,"713 v West Indies, 15/03/2022"
6,Amy Satterthwaite,NZ,681,"756 v Australia, 02/03/2017"
7,Tammy Beaumont,ENG,667,"791 v India, 27/06/2021"
8,Chamari Athapaththu,SL,655,"691 v South Africa, 14/02/2019"
9,Smriti Mandhana,IND,649,"797 v England, 28/02/2019"

In [10]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
page

page.content


soup=BeautifulSoup(page.content,'html.parser')
soup


name=soup.find_all('div',class_="rankings-block__banner--name-large")
name

names=[]
for i in name:
    names.append(i.get_text())
names  


name=soup.find_all('td',class_="table-body__cell rankings-table__name name")
name[:9]


for i in name:
    names.append(i.get_text().replace('\n', ' '))
names[:10]    


team=soup.find_all('div',class_="rankings-block__banner--nationality")
team


teams=[]
for i in team:
    teams.append(i.get_text().replace('\n', ''))
teams   


team=soup.find_all('span',class_="table-body__logo-text")
team[:9]


for i in team:
    teams.append(i.get_text())
teams[:10]   


rating=soup.find_all('div',class_="rankings-block__banner--rating")
rating


ratings=[]
for i in rating:
    ratings.append(i.get_text())
ratings 


rating=soup.find_all('td',class_="table-body__cell rating")
rating[:9]


for i in rating:
    ratings.append(i.get_text())
ratings[:10] 


career_best=soup.find_all('span',class_="rankings-block__career-best-text")
career_best


career_best_rating=[]
for i in career_best:
    career_best_rating.append(i.get_text().replace('\n', ' ').replace('  ',''))
career_best_rating   


career_best=soup.find_all('td',class_="table-body__cell u-text-right u-hide-phablet")
career_best[:9]


for i in career_best:
    career_best_rating.append(i.get_text().replace('\n', ' ').replace('                        ',' '))
career_best_rating[:10]  



top10=pd.DataFrame({})
top10['Name']=names[:10]
top10['Team']=teams[:10]
top10['Rating']=ratings[:10]
top10['Career_best_rating']=career_best_rating[:10]


top10

                 Name Team Rating                          Career_best_rating
0      Natalie Sciver  ENG    379             395 v South Africa, 11/07/2022
1       Ellyse Perry   AUS    374             548 v West Indies, 11/09/2019
2     Marizanne Kapp    SA    349             419 v West Indies, 10/09/2021
3    Hayley Matthews    WI    339                   365 v India, 12/03/2022
4        Amelia Kerr    NZ    336            339 v South Africa, 17/03/2022
5   Ashleigh Gardner   AUS    270             279 v West Indies, 30/03/2022
6      Deepti Sharma   IND    252            397 v South Africa, 09/10/2019
7      Jess Jonassen   AUS    246             308 v West Indies, 11/09/2019
8    Katherine Brunt   ENG    220               296 v Australia, 03/02/2022
9    Stafanie Taylor    WI    207             559 v New Zealand, 10/10/2013

In [11]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from lxml import etree


page=requests.get("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")
page

page.content

soup = BeautifulSoup(page.content,"html.parser")

books = soup.find_all('li',class_="sc-9zxyh7-1 sc-9zxyh7-2 exAXfr jQmQZp")

for book in books:
    paper_title = book.select('h2')[0].text.strip()
    author = book.select('p')[0].text.strip()
    print(f'Paper title : {paper_title}, author and date: {author}')

dom = etree.HTML(str(soup))

for link in dom.xpath('//article/a', href=True):
    print("URL : ", link.get('href'))

Paper title : Reward is enough, author and date: Silver, David, Singh, Satinder, Precup, Doina, Sutton, Richard S. Open AccessOctober 2021
Paper title : Making sense of raw input, author and date: Evans, Richard, Bošnjak, Matko and 5 moreOpen AccessOctober 2021
Paper title : Law and logic: A review from an argumentation perspective, author and date: Prakken, Henry, Sartor, Giovanni Open AccessOctober 2015
Paper title : Creativity and artificial intelligence, author and date: Boden, Margaret A. Open AccessAugust 1998
Paper title : Artificial cognition for social human–robot interaction: An implementation, author and date: Lemaignan, Séverin, Warnier, Mathieu and 3 moreOpen AccessJune 2017
Paper title : Explanation in artificial intelligence: Insights from the social sciences, author and date: Miller, Tim February 2019
Paper title : Making sense of sensory input, author and date: Evans, Richard, Hernández-Orallo, José and 3 moreOpen AccessApril 2021
Paper title : Conflict-based search for optimal multi-agent pathfinding, author and date: Sharon, Guni, Stern, Roni, Felner, Ariel, Sturtevant, Nathan R. Open AccessFebruary 2015
Paper title : Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning, author and date: Sutton, Richard S., Precup, Doina, Singh, Satinder Open AccessAugust 1999
Paper title : The Hanabi challenge: A new frontier for AI research, author and date: Bard, Nolan, Foerster, Jakob N. and 13 moreOpen AccessMarch 2020
Paper title : Evaluating XAI: A comparison of rule-based and example-based explanations, author and date: van der Waa, Jasper, Nieuwburg, Elisabeth, Cremers, Anita, Neerincx, Mark Open AccessFebruary 2021
Paper title : Argumentation in artificial intelligence, author and date: Bench-Capon, T.J.M., Dunne, Paul E. Open AccessOctober 2007
Paper title : Algorithms for computing strategies in two-player simultaneous move games, author and date: Bošanský, Branislav, Lisý, Viliam and 3 moreOpen AccessAugust 2016
Paper title : Multiple object tracking: A literature review, author and date: Luo, Wenhan, Xing, Junliang and 4 moreApril 2021
Paper title : Selection of relevant features and examples in machine learning, author and date: Blum, Avrim L., Langley, Pat Open AccessDecember 1997
Paper title : A survey of inverse reinforcement learning: Challenges, methods and progress, author and date: Arora, Saurabh, Doshi, Prashant August 2021
Paper title : Explaining individual predictions when features are dependent: More accurate approximations to Shapley values, author and date: Aas, Kjersti, Jullum, Martin, Løland, Anders Open AccessSeptember 2021
Paper title : A review of possible effects of cognitive biases on interpretation of rule-based machine learning models, author and date: Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Johannes Open AccessJune 2021
Paper title : Integrating social power into the decision-making of cognitive agents, author and date: Pereira, Gonçalo, Prada, Rui, Santos, Pedro A. Open AccessDecember 2016
Paper title : “That's (not) the output I expected!” On the role of end user expectations in creating explanations of AI systems, author and date: Riveiro, Maria, Thill, Serge Open AccessSeptember 2021
Paper title : Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies, author and date: Kenny, Eoin M., Ford, Courtney, Quinn, Molly, Keane, Mark T. Open AccessMay 2021
Paper title : Algorithm runtime prediction: Methods & evaluation, author and date: Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyton-Brown, Kevin Open AccessJanuary 2014
Paper title : Wrappers for feature subset selection, author and date: Kohavi, Ron, John, George H. Open AccessDecember 1997
Paper title : Commonsense visual sensemaking for autonomous driving – On generalised neurosymbolic online abduction integrating vision and semantics, author and date: Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srikrishna Open AccessOctober 2021
Paper title : Quantum computation, quantum theory and AI, author and date: Ying, Mingsheng Open AccessFebruary 2010
URL :  https://www.sciencedirect.com/science/article/pii/S0004370221000862
URL :  https://www.sciencedirect.com/science/article/pii/S0004370221000722
URL :  https://www.sciencedirect.com/science/article/pii/S0004370215000910
URL :  https://www.sciencedirect.com/science/article/pii/S0004370298000551
URL :  https://www.sciencedirect.com/science/article/pii/S0004370216300790
URL :  https://www.sciencedirect.com/science/article/pii/S0004370218305988
URL :  https://www.sciencedirect.com/science/article/pii/S0004370220301855
URL :  https://www.sciencedirect.com/science/article/pii/S0004370214001386
URL :  https://www.sciencedirect.com/science/article/pii/S0004370299000521
URL :  https://www.sciencedirect.com/science/article/pii/S0004370219300116
URL :  https://www.sciencedirect.com/science/article/pii/S0004370220301533
URL :  https://www.sciencedirect.com/science/article/pii/S0004370207000793
URL :  https://www.sciencedirect.com/science/article/pii/S0004370216300285
URL :  https://www.sciencedirect.com/science/article/pii/S0004370220301958
URL :  https://www.sciencedirect.com/science/article/pii/S0004370297000635
URL :  https://www.sciencedirect.com/science/article/pii/S0004370221000515
URL :  https://www.sciencedirect.com/science/article/pii/S0004370221000539
URL :  https://www.sciencedirect.com/science/article/pii/S0004370221000096
URL :  https://www.sciencedirect.com/science/article/pii/S0004370216300868
URL :  https://www.sciencedirect.com/science/article/pii/S0004370221000588
URL :  https://www.sciencedirect.com/science/article/pii/S0004370221000102
URL :  https://www.sciencedirect.com/science/article/pii/S0004370213001082
URL :  https://www.sciencedirect.com/science/article/pii/S000437029700043X
URL :  https://www.sciencedirect.com/science/article/pii/S0004370221000734
URL :  https://www.sciencedirect.com/science/article/pii/S0004370209001398

In [12]:
import requests
from bs4 import BeautifulSoup

url = 'https://www.dineout.co.in/delhi-restaurants'

page = requests.get(url)
soup = BeautifulSoup(page.content,"html.parser")
restaurants = soup.select('div.restnt-detail-wrap')
for restaurant in restaurants:
    restaurant_name = restaurant.select('a')[0].text.strip()
    print(f'Restaurant Name : {restaurant_name}')
    restaurant_loc_1 = restaurant.select('a')[1].text.strip()
    restaurant_loc_2 = restaurant.select('a')[2].text.strip()
    print(f'Restaurant Location : {restaurant_loc_1}, {restaurant_loc_2}')
    restaurant_cusinies = restaurant.select('span')[0].select('a')
    cusinie_name= ''
    for i in range(len(restaurant_cusinies)):
        cusinie_name = cusinie_name + restaurant_cusinies[i].text.strip() + ','
    
    print(f'Restaurant Name : {restaurant_name}, Restaurant Location : {restaurant_loc_1}, {restaurant_loc_2}, Cusinie name : {cusinie_name}')
    
restaurants = soup.select('div.img-wrap')
for restaurant in restaurants:
    restaurant_rating = restaurant.select('div.restnt-rating')[0].text.strip()
    image = restaurant.select('img')[0].get('data-src')
    print(f'Restaurant Rating : {restaurant_rating}, Restaurant image : {image}')

Restaurant Name : Tamasha
Restaurant Location : Connaught Place, Central Delhi
Restaurant Name : Tamasha, Restaurant Location : Connaught Place, Central Delhi, Cusinie name : Continental,Asian,Italian,North Indian,
Restaurant Name : Local
Restaurant Location : Scindia House,, Connaught Place
Restaurant Name : Local, Restaurant Location : Scindia House,, Connaught Place, Cusinie name : North Indian,Asian,Continental,
Restaurant Name : Openhouse Cafe
Restaurant Location : Connaught Place, Central Delhi
Restaurant Name : Openhouse Cafe, Restaurant Location : Connaught Place, Central Delhi, Cusinie name : North Indian,Asian,Italian,
Restaurant Name : Ministry Of Beer
Restaurant Location : M-Block,, Connaught Place
Restaurant Name : Ministry Of Beer, Restaurant Location : M-Block,, Connaught Place, Cusinie name : North Indian,Continental,American,Asian,
Restaurant Name : Warehouse Cafe
Restaurant Location : Connaught Place, Central Delhi
Restaurant Name : Warehouse Cafe, Restaurant Location : Connaught Place, Central Delhi, Cusinie name : North Indian,Chinese,Italian,
Restaurant Name : Station Bar
Restaurant Location : F-Block,, Connaught Place
Restaurant Name : Station Bar, Restaurant Location : F-Block,, Connaught Place, Cusinie name : Italian,Chinese,North Indian,Fast Food,
Restaurant Name : QBA
Restaurant Location : Connaught Place, Central Delhi
Restaurant Name : QBA, Restaurant Location : Connaught Place, Central Delhi, Cusinie name : North Indian,Continental,Italian,
Restaurant Name : The Junkyard Cafe
Restaurant Location : Connaught Place, Central Delhi
Restaurant Name : The Junkyard Cafe, Restaurant Location : Connaught Place, Central Delhi, Cusinie name : North Indian,Continental,Chinese,Fast Food,
Restaurant Name : The G.T. ROAD
Restaurant Location : M-Block,, Connaught Place
Restaurant Name : The G.T. ROAD, Restaurant Location : M-Block,, Connaught Place, Cusinie name : North Indian,
Restaurant Name : Berco's
Restaurant Location : Connaught Place, Central Delhi
Restaurant Name : Berco's, Restaurant Location : Connaught Place, Central Delhi, Cusinie name : Chinese,Thai,
Restaurant Name : Connaught Clubhouse Microbrewery
Restaurant Location : Connaught Place, Central Delhi
Restaurant Name : Connaught Clubhouse Microbrewery, Restaurant Location : Connaught Place, Central Delhi, Cusinie name : North Indian,Continental,Asian,Chinese,
Restaurant Name : Somewhere Restaurant & Bar
Restaurant Location : Connaught Place, Central Delhi
Restaurant Name : Somewhere Restaurant & Bar, Restaurant Location : Connaught Place, Central Delhi, Cusinie name : North Indian,Continental,Asian,
Restaurant Name : Lord of the Drinks
Restaurant Location : Connaught Place, Central Delhi
Restaurant Name : Lord of the Drinks, Restaurant Location : Connaught Place, Central Delhi, Cusinie name : Chinese,North Indian,Fast Food,
Restaurant Name : My Bar Square
Restaurant Location : Connaught Place, Central Delhi
Restaurant Name : My Bar Square, Restaurant Location : Connaught Place, Central Delhi, Cusinie name : Finger Food,Chinese,Continental,Italian,
Restaurant Name : Oh My God
Restaurant Location : F-Block,, Connaught Place
Restaurant Name : Oh My God, Restaurant Location : F-Block,, Connaught Place, Cusinie name : Continental,North Indian,Chinese,
Restaurant Name : My Bar Headquarters
Restaurant Location : Connaught Place, Central Delhi
Restaurant Name : My Bar Headquarters, Restaurant Location : Connaught Place, Central Delhi, Cusinie name : North Indian,Chinese,
Restaurant Name : Farzi Cafe
Restaurant Location : Connaught Place, Central Delhi
Restaurant Name : Farzi Cafe, Restaurant Location : Connaught Place, Central Delhi, Cusinie name : Modern Indian,Continental,Finger Food,
Restaurant Name : Chido
Restaurant Location : Connaught Place, Central Delhi
Restaurant Name : Chido, Restaurant Location : Connaught Place, Central Delhi, Cusinie name : North Indian,Italian,Continental,Asian,Finger Food,
Restaurant Name : Ardor 2.1 Restaurant and Lounge
Restaurant Location : Connaught Place, Central Delhi
Restaurant Name : Ardor 2.1 Restaurant and Lounge, Restaurant Location : Connaught Place, Central Delhi, Cusinie name : North Indian,Chinese,Italian,Continental,
Restaurant Name : Unplugged Courtyard
Restaurant Location : Connaught Place, Central Delhi
Restaurant Name : Unplugged Courtyard, Restaurant Location : Connaught Place, Central Delhi, Cusinie name : North Indian,Italian,Chinese,Turkish,Continental,
Restaurant Name : 38 Barracks
Restaurant Location : M-Block,, Connaught Place
Restaurant Name : 38 Barracks, Restaurant Location : M-Block,, Connaught Place, Cusinie name : North Indian,Chinese,Continental,
Restaurant Rating : 4.2, Restaurant image : https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/a/j/p20996-145631488756cd9a0796608.jpg?tr=tr:n-medium
Restaurant Rating : 4, Restaurant image : https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/b/t/p27452-15020105505986dcb6d147f.jpg?tr=tr:n-medium
Restaurant Rating : 4.1, Restaurant image : https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/j/y/p19748-16474299906231c96621c58.jpg?tr=tr:n-medium
Restaurant Rating : 4, Restaurant image : https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/a/d/p32381-1495943585592a49a166fe7.jpg?tr=tr:n-medium
Restaurant Rating : 4.1, Restaurant image : https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/h/o/p420-15241335515ad86eaf373ce.jpg?tr=tr:n-medium
Restaurant Rating : 4.1, Restaurant image : https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/i/b/p971-165909823762e3d47db6d56.jpg?tr=tr:n-medium
Restaurant Rating : 4.3, Restaurant image : https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/e/e/p29906-16183962346076c44ac433d.jpg?tr=tr:n-medium
Restaurant Rating : 4.1, Restaurant image : https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/h/p/p20298-1447661865564991294ad1b.jpg?tr=tr:n-medium
Restaurant Rating : 4.3, Restaurant image : https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/m/u/p31393-15972091555f337a43bb961.jpg?tr=tr:n-medium
Restaurant Rating : 4.3, Restaurant image : https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/t/u/p237-16468990666229af7a72b08.jpg?tr=tr:n-medium
Restaurant Rating : 4.3, Restaurant image : https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/c/z/p77626-15833232035e5f98437554f.jpg?tr=tr:n-medium
Restaurant Rating : 4.1, Restaurant image : https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/m/p/p105609-16509585496267a0d52450f.jpg?tr=tr:n-medium
Restaurant Rating : 4.2, Restaurant image : https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/o/g/p19975-1649416421625018e5d4198.jpg?tr=tr:n-medium
Restaurant Rating : 3.9, Restaurant image : https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/m/i/p12709-15681189525d7798a8c5aa5.jpg?tr=tr:n-medium
Restaurant Rating : 4, Restaurant image : https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/s/q/p21753-162678610360f6c93732f2f.jpg?tr=tr:n-medium
Restaurant Rating : 4, Restaurant image : https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/d/f/p19636-16463919576221f295ae1f1.jpg?tr=tr:n-medium
Restaurant Rating : 4.1, Restaurant image : https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/y/y/p4199-164188203361dd21b1a3174.jpg?tr=tr:n-medium
Restaurant Rating : 4.2, Restaurant image : https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/u/d/p97184-1648026866623ae4f24ea25.jpg?tr=tr:n-medium
Restaurant Rating : 3.8, Restaurant image : https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/y/m/p221-16455303976214cd1d7a086.jpg?tr=tr:n-medium
Restaurant Rating : 4, Restaurant image : https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/u/y/p20941-15700828565d959028e9f28.jpg?tr=tr:n-medium
Restaurant Rating : 4.3, Restaurant image : https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/y/j/p21171-166019927162f4a167b10af.jpg?tr=tr:n-medium